.home-ul {
    font-style: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;


}

.home-a {
    font-size: 150%;
    padding: 10px 20px;
    font-family: 'Heebo', sans-serif;
    font-weight: 530;
    justify-content: space-around;
}

.active {
    color: tomato;
}

a {
    text-decoration: none;

}

.lion {
    font-size: 50;
}

#left-section {
    padding: 30px;
    padding-left: 50px;
}

#right-section img {
    height: 200px;
    width: 200px;
}

.section-one {
    display: flex;
}

img {
    border-radius: 50%;
    padding: 100px;
    padding-left: 100px;
}

button {
    background-color: tomato;
padding: 1.5%;
    border-color: tomato;
    border-width: 5px;
    
}

body {
    scroll-behavior: smooth;
}

#second-lion {
    display: flex;
    justify-content: space-between;
}

#sect-two-1st-child {
    justify-content: space-between;
    display: flex;
    font-size: 150%;
    align-content: flex-end;
    padding: 2%;
    padding-bottom: 0px;
}

#second-lion {
    padding: 0% 4%;
}

#neura {
    width: 200px;
    height: 200px;
    border-radius: 5%;
    padding: 0% 0%;
}
#bat{
    background: #142850;
    border-radius: 16px;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    padding: 0px 13px;
    margin-right: 25px;
    border-top: 5px;
}
#bat-2{
    font-size: 150%;
    line-height: 1.5%;
    color: grey;
}
#proof-2{
    display: flex;
    align-items: center;
    padding: 5px 0px;
}
.yam{
    display: flex;
    align-items: center;
}